@{
    ViewData["Title"] = "Home Page";
}

@*<div class="home page">
    <canvas id="canvas1"></canvas>
    <img src="~/images/management.jpeg" class="img-bg" />
    <div class="intro-container">
        <div class="intro-content">
            <h1 class="intro-title">
                Система управления закупками
                <span class="border"></span>
            </h1>
            <p class="intro-text">
                лидер на рынке исследований и испытаний продукции
            </p>
        </div>
    </div>
</div>*@

    <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
