@model ProductManagementApp.ViewModels.SupplierViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="custom-select form-group"
                    asp-for="SupplierId" asp-items="@(new SelectList(Model.Suppliers, "Id", "Name"))">
                <option>Выберите поставщика...</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Выбрать" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <hr />
        @if (Model.Products != null)
        {
            <table class="table table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            <p>Название товара</p>
                        </th>
                        <th>
                            <p>Цена товара</p>
                        </th>
                        <th>
                            <p>Цена со скидкой</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>
                                <p>@product.Name</p>
                            </td>
                            <td>
                                <p>@product.Price</p>
                            </td>
                            <td>
                                <p>@product.DiscountPrice</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
}